.containerLabel{
    height: 30px;
    width: 60px;


    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #696f74 ;
    border-left: 3px solid #c30711;

    text-transform: capitalize;
    color: white;
    font-weight: bold;

    &:hover{
        background-color: #c30711;
    }
}